<script type="text/javascript">
	var showAddPopup = function() {
		$("#add_popup").dialog();
	};

	var performSearch = function() {
		var keywords = $('#keywords').val();
		$.ajax({
			type: "GET",
			url: "<%= search_movies_path %>",
			data: { keywords: keywords }
		}).done(function(msg) {
			$('#search_results').html('');
			$(msg.results).each(function(index, item) {
				var listItem = '';
				listItem += '<li>';
				listItem += '<a href=\'';
				listItem += item.url;
				listItem += '\'>';
				listItem += item.title;
				listItem += ' (' + item.year + ')';
				listItem += '</a>';
				listItem += '</li>';
				$('#search_results').html($('#search_results').html() + listItem);
				console.log('title: ' + item.title + ' year: ' + item.year + ' poster: ' + item.poster);
			});
		});
	};

</script>


<div class="row">

	<div class="col-lg-6">
		<h1 style="float:left;">Movies</h1>
	</div>
	<div class="col-lg-6">
		<form>
			<div id="add_popup" title="Add a Movie" style="margin-top: 25px;">
				<div class="input-group">
					<input id="keywords" type="text" placeholder="keywords" class="string optional input-medium search-query form-control" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" onclick="performSearch();"><i class="glyphicon glyphicon-search"></i></button>
					</span>
				</div>
				<ul id="search_results" style="list-style:none;">

				</ul>
			</div>
		</form>
	</div>

</div>



<div id="my_movies_list">
	<% @movies.each do |movie| %>
		<li><%= link_to movie.title, movie_path(movie.imdb_id) %></li>
	<% end %>
</div>

