<h1>Features</h1>
<section class="content-block default-bg">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-6 col-md-6">
            	<img  src="images/pagebg.jpg" class="width-95pc fullw-xs" alt="pic">   
            </div>
               
        	<div class="col-sm-6 col-md-6 vspace-xs">               
              <h4>Full featured service</h4>
              <p><span class="dropcap">H</span>orem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
            	<div class="row">
                	<div class="col-xs-12 col-sm-6 col-md-6">
	                  	<ul class="icon-list">
	                    	<li><i class="fa fa-check"></i>Track your SHIT!</li>
	                    	<li><i class="fa fa-check"></i>Venus is second</li>
	                    	<li><i class="fa fa-check"></i>Earth is third</li>
	                    	<li><i class="fa fa-check"></i>Mars is the Fourth</li>
	                    	<li><i class="fa fa-check"></i>Jupiter is the Fifth</li>
	                  	</ul>
                	</div>

	                <div class="col-xs-12 col-sm-6 col-md-6">
		                <ul class="icon-list">
		                	<li><i class="fa fa-check"></i>Saturn is the sixth</li>
		                    <li><i class="fa fa-check"></i>Uranus is seventh</li>
		                    <li><i class="fa fa-check"></i>Neptune is eight</li>
		                    <li><i class="fa fa-check"></i>Pluto is the last </li>
		                    <li><i class="fa fa-check"></i>Nine in total</li>
		                </ul>
	                </div>
           		</div> 
        	</div>
    	</div>
    </div>
</section>
      
      