<h1>Features</h1>
<section class="content-block default-bg">
	<div class="container">
    	<div class="row">
        	<div class="col-sm-6 col-md-6">
            	<%= image_tag "features-screen.png" %>   
            </div>
               
        	<div class="col-sm-6 col-md-6 vspace-xs">               
              <h4>TrackYourSh.it Features</h4>
              <p><span class="dropcap"></span>Key features include: </p>
            	<div class="row">
                	<div class="col-xs-12 col-sm-6 col-md-6">
	                  	<ul class="icon-list">
	                    	<li><i class="fa fa-check"></i>Track your shit</li>
	                    	<li><i class="fa fa-check"></i>Lend your shit</li>
	                    	<li><i class="fa fa-check"></i>Rate your shit</li>
	                    	<li><i class="fa fa-check"></i>Find your shit</li>
	                    	<li><i class="fa fa-check"></i>Manage your shit</li>
	                  	</ul>
                	</div>

	                <div class="col-xs-12 col-sm-6 col-md-6">
		                <ul class="icon-list">
		                	<li><i class="fa fa-check"></i>Movies</li>
		                    <li><i class="fa fa-check"></i>Books</li>
		                    <li><i class="fa fa-check"></i>Video Games</li>
		                    <li><i class="fa fa-check"></i>TV Shows</li>
		                    <li><i class="fa fa-check"></i>All your shit in one place</li>
		                </ul>
	                </div>
           		</div> 
        	</div>
    	</div>
    </div>
</section>
      
      