<section class="intro-block page-bg">
	<div class="overlay default">
		<div class="container">
			<div class="text-slider no-js">
				<ul class="bxslider" id="text-slider" data-call="bxslider" data-options="parentSelector:'.text-slider', removeParentClass:'no-js', prevText:'', nextText:'', pager:true, controls:false, mode:'horizontal', auto:true, autoReload:true">
					<li>
						<div class="slide">
							<h2>a great theme for your next project!</h2>
						</div>
					</li>
					<li>
						<div class="slide">
							<h2>made for both business and ecommerce.</h2>
						</div>
					</li>
					<li>
						<div class="slide">
							<h2>built using latest bootstrap release.</h2>
						</div>
					</li>
					<li>
						<div class="slide">
							<h2>most recent font awesome glyphs.</h2>
						</div>
					</li>
				</ul>
				<p class="meta">Lorem ipsum dolor sit amet, consectetur elit.</p>
				<div>

					<%= link_to 'Log In', new_user_session_path, class: "scroll-to btn btn-primary" %>
					<%= link_to 'Sign Up', new_user_registration_path, class: "scroll-to btn btn-primary" %>

					<a href="#about" class="scroll-to btn btn-primary"><i class="fa fa-bars"></i>learn more</a>
					<a href="#about" class="scroll-to btn btn-primary"><i class="fa fa-print"></i>start now</a>
				</div>
			</div>
		</div>
	</div>
</section>