<section class="intro-block page-bg">
	<div class="overlay default">
		<div class="container">
			<div class="text-slider no-js">
				<ul class="bxslider" id="text-slider" data-call="bxslider" data-options="parentSelector:'.text-slider', removeParentClass:'no-js', prevText:'', nextText:'', pager:true, controls:false, mode:'horizontal', auto:true, autoReload:true">
					<li>
						<div class="slide">
							<h2>Track your shit.</h2>
						</div>
					</li>
					<li>
						<div class="slide">
							<h2>View your friends' shit.</h2>
						</div>
					</li>
					<li>
						<div class="slide">
							<h2>Lend shit to friends.</h2>
						</div>
					</li>
					<li>
						<div class="slide">
							<h2>Rate your shit.</h2>
						</div>
					</li>
				</ul>
				<p class="meta">Keep tabs on all of your movies, books, video games, etc...</p>
				<div>

					<%= link_to new_user_session_path, class: "scroll-to btn btn-primary" do %>
						<i class="fa fa-user"></i>Log In
					<% end %>
					<%= link_to new_user_registration_path, class: "scroll-to btn btn-primary" do %>
						<i class="fa fa-plus-circle"></i>Sign Up
					<% end %>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready( function() {
		$('#text-slider').bxSlider();
	});
</script>