/*
*= require jquery.ui.all
 */
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome/font-awesome";
@import "open-sans/open-sans";
@import "default";
@import "libs/custom";
@import "skins/skin-1";
@import "bxslider";
@import "jquery.ui.all";

.product-grid {
  li {
    .product {
      .image {
        a {
          img {
            background-color: #CCC;
            padding: 10px;
            width: 100%;
            height: 100%;
          }
          img:hover {
            background-color: #BBB;
          }
        }
      }
      .links {
        .view_section_link {
          color: red;
          float: none;
          width: 100%;
        }
      }
    }
  }
}
.right {
  float: right;
}
.left {
  float: left;
}

#my_movies_list {
  min-height: 400px;
}

.movie_button {
  margin-top: 25px;
}

#my_movies_list {
  ul {
    li {
      height: 500px;
      .product {
        height: 450px;
        .image {
          height: 350px;
        }
        .title {
          text-align: center;
          vertical-align: middle;
          width: 100%;
          height: 50px;
        }
        .links {
          a {
            margin: 0;
          }
          height: 25px;
        }
      }
    }
  }
}

.digg_pagination {
  background: white;
  cursor: default;
  /* self-clearing method: */ }
.digg_pagination a, .digg_pagination span, .digg_pagination em {
  padding: 6px 9px;
  display: block;
  float: left;
  margin-right: 3px; }
.digg_pagination .disabled {
  display: none;
  color: #999999;
  border: 1px solid #dddddd; }
.digg_pagination .current {
  font-style: normal;
  font-weight: bold;
  background: red;
  color: white;
  border: 1px solid red; }
.digg_pagination a {
  text-decoration: none;
  color: red;
  border: 1px solid darkgray; }
.digg_pagination a:hover, .digg_pagination a:focus {
  color: red;
  border-color: red; }
.digg_pagination .page_info {
  background: red;
  color: white;
  padding: 0.4em 0.6em;
  width: 22em;
  margin-bottom: 0.3em;
  text-align: center; }
.digg_pagination .page_info b {
  color: red;
  background: red;
  padding: 0.1em 0.25em; }
.digg_pagination:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }
* html .digg_pagination {
  height: 1%; }
*:first-child + html .digg_pagination {
  overflow: hidden; }