<footer id="footer">
	<div class="bottom">
		<div class="container">
			<ul class="social-buttons colored-bg-on-hover round clearfix">
				<%#
					<li><a href="#"><i class="fa fa-facebook"></i></a></li>
					<li><a href="#"><i class="fa fa-skype"></i></a></li>
					<li><a href="#"><i class="fa fa-twitter"></i></a></li>
					<li><a href="#"><i class="fa fa-rss"></i></a></li>
					<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
				%>
			</ul>
			<span class="copy-text" style="color: white;">Copyright &copy; 2014 Evan Chamberlain and Kenneth Lewis. All rights reserved.</span>
		</div>
	</div>
</footer>